<div class="logo mb-4">
  <a href="/" class="simple-text d-flex flex-column align-items-center">
    <img class="logo-img w-25 m-0" src=<%= asset_path('logo.png') %> alt="Neli-logo"/>
    <h3 class="text-dark font-weight-bold mt-2">Neli todo list</h3>
  </a>
</div>