.navbar{
    box-shadow: 3px 1px 2px 0px rgba(0, 0, 0, 0.12), 6px 3px 6px -5px rgba(0, 0, 0, 0.15) !important
}

.sidebar{
    box-shadow: -6px 0px 9px 0px rgba(0, 0, 0, 0.56), 0 4px 10px 0px rgba(0, 0, 0, 0.12), -6px 2px 7px -5px rgba(0, 0, 0, 0.2) !important;
}

.search-input, .is-focused .search-input {
    background-image: linear-gradient(to top, #9c27b000 2px, rgb(156 39 176 / 0%) 2px), linear-gradient(to top, #d2d2d200 1px, rgb(210 210 210 / 0%) 1px) !important;
}

.navbar-bg-custom{
    background-color: #fafafa !important;
}

.logo-img{
    width: 30px;
    margin-right: 5px;
}

ul ul {
    list-style: none;
}

.form-check .form-check-input{
    opacity: 1 !important;
    width: 15px !important;
    height: 15px !important;
    z-index: 99 !important;
}

.nav-link .add-item{
    font-size: 18px !important;
    height: 30px;
    background-color: #efefef;
    border-radius: 30px;
    border: 2px dashed gray;
    &:hover{
        color: purple !important;
        border: 2px dashed purple;
        background-color: #fafafa;
    }
}

.task-header{
    margin: 20px 0;
    height: 50px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
}

.tag-container .badge {
  cursor: pointer;
}

.tag-container .close {
  background: none;
  border: none;
  color: white;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
}

.selected-tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  background-color: #007bff;
  color: #fff;
}

.remove-tag {
  border: none;
  background: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.tag:hover {
  opacity: 0.8;
}

.selected-tag {
  background-color: #007bff;
}

.selected-tags-container {
  margin-bottom: 15px;
}

.available-tags {
  margin-top: 15px;
  margin-bottom: 20px;
}

.task-item {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}

.priority-container {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #e7f0ff;
  font-weight: bold;
}

.priority-container span {
  color: #007bff;
}
